merchandise:
  upload:
    path: D:/merchandise/upload
server:
  port: 8080
spring:
  application:
    name: sie
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/sie?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: root
      password: Jd28936418
  mvc:
    static-path-pattern: /**
  web:
    resources:
      static-locations: classpath:/static,file:${merchandise.upload.path}
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: assign_id
mybatis:
  configuration:
    map-underscore-to-camel-case: true
sie:
  path: src/main/resources/static/
